@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
}

.nav-items {
  display: flex;
}
.nav-items > h5 {
  padding: 0 20px;
  font-size: 20px;
}

.nav-items > h5:hover {
  color: #fe5e35;
}
.intro-section {
  display: flex;
}

.sub-headline {
  display: flex;
  margin-left: 148px;
  font-size: 36px;
  align-items: center;
}
.left-section > h1 {
  margin-left: 124px;
  margin-top: -29px;
  font-size: 60px;
  font-family: "Mochiy Pop One", sans-serif;
}

h3 {
  margin-left: 103px;
  font-size: 42px;
}
h5.sub-headline > img {
  width: 24px;
  height: 24px;
  background-color: #fe5e35;
  border-radius: 50%;
  margin-right: 29px;
}

.text {
  margin-left: 142px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-right: 100px;
  margin-bottom: 24px;
}

.left-section .action-btn {
  background-color: #fe5e35;
  border: transparent;
  border-radius: 20px;
  padding: 15px;
  color: #ffffff;
  font-size: 20px;
  margin-left: 162px;
  margin-right: -135px;
  width: 20%;
}
.right-section .action-btn {
  background-color: #fe5e35;
  border: transparent;
  border-radius: 20px;
  padding: 15px;
  color: #ffffff;
  font-size: 20px;
  width: 27%;
  margin-left: 229px;
  margin-top: 15px;
}

.headphone-div {
  position: relative;
}

.discount {
  position: absolute;
  top: 347px;
  left: -45px;
}

.discount-content {
  position: absolute;
  top: 418px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 1px;
  color: #fff;
}

h1,
h4 {
  margin: 0;
  font-size: 20px;
}

.dot.yellow-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fbd104;
  margin: 5px;
}

.dot.tomato-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fe5e35;
  margin: 5px;
}

.dot.black-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000;
  margin: 5px;
}
.dots {
  display: flex;
  justify-content: center;
}
